<html>
    <head>
        <meta charset="utf-8">
        <title>Registration</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{% static 'course_app/css/style.css' %}"> -->

    </head>
    <body>
        <div class="container">
            <div class="row main">
                <div class="panel-heading">
                   <div class="panel-title text-center">
                        <h1 class="title">Register</h1>
                        <hr />
                    </div>
                </div>
                <div class="main-login main-center">

                    <form class="form-horizontal" method="post" action="{% url 'manager:register' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Choose Your House:</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <select id="house" name="house" class="form-control input-md">
                                        <option value="Ravenclaw">Ravenclaw</option>
                                        <option value="Gryffindor">Gryffindor</option>
                                        <option value="Slytherin">Slytherin</option>
                                        <option value="Hufflepuff">Hufflepuff</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Your First Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="first_name" id="first_name"  placeholder="Enter your First Name"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Your Last Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="last_name" id="last_name"  placeholder="Enter your Last Name"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                                </div>
                            </div>
                        </div>


                        <div class="form-group ">
                            <button type="submit" class="btn btn-faded btn-lg btn-block login-button">Register</button>
                        </div>

                    </form>
                    {% for error in errors %}
                        {{errors}}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
